<h1>This is hedge fund dashboard</h1>

{{!-- <div class="fund-box">
    {{#each hedgeFund}}
    <h2>{{this.fundName}}</h2>
    {{/each}}
</div> --}}

<div class="new-fund">
    <label for="newFund"> Create your hedge fund</label>
    <input type="text" name="fundName" value="{{hedgeFund.fundName}}" />
</div>

<div>
    <a type="button" href="/logout">Logout</a>
</div>
