<h1>This is hedge fund dashboard</h1>

<div class="fund-box">
    {{#each hedgeFund}}
    <h1><a href="/fund/{{this._id}}">{{this.fundName}}</a></h1>
    {{/each}}
</div>

<a href="/myfund">Go to Dashboard</a>
<a href="/new-fund">Create a fund</a>

<div>
    <a type="button" href="/logout">Logout</a>
</div>
