<h1 class="intro">Welcome to HFPM platform!</h1>
<h2 class="intro">HFPM stants for Hedge Fund Performance Management. This web tool allows small hedge fund managers to keep track of performace of their fund</h2>


<div class="button-container">
    <a class="button" href="/log-in"><button>Log In</button></a>
    <a class="button" href='/sign-up'><button>Create an Account</button></a>
</div>

<style>
    .intro {
        text-align: center; 
        font-size: 43px; 
    }
    .button-container {
        display: flex;
        align-content: center;
        
    }
</style>