<!DOCTYPE html>
<html>
  <head>
    <title>HFPM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  </head>
  <body>
   <nav>
     <h1>HFPM</h1>
   </nav>
    {{{body}}}
  </body>
</html>
