<!DOCTYPE html>
<html>
  <head>
    <title>HFPM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <nav>
     <h1>HFPM</h1>
   </nav>
    {{{body}}}
  </body>
</html>
