<h1>Please enter your credentials</h1>

<form action="/log-in" method="post">
    <input type="text" name="logemail" placeholder="E-mail" required="">
    <input type="password" name="logpassword" placeholder="Password" required="">
    <div class="tp">
        <input type="submit" value="LOGIN NOW">
    </div>
</form>