<h1>Create your hedge fund</h1>

<div class="form-container">
    <form action="/fund" method="POST">
        <label for="fund-name">Name of the fund</label>
        <input type="text" name="fundName" value="{{hedgeFund.fundName}}"/>
    </form>
</div>

