<h1>The Following traders are working at</h1>

<a href="/fund/traders/{{this._id}}"/><h2>Trader Full Name</h2></a>
<a href="/fund/traders/{{this._id}}"/><h2>Trader Full Name</h2></a>
<a href="/fund/traders/{{this._id}}"/><h2>Trader Full Name</h2></a>
<a href="/fund/traders/{{this._id}}"/><h2>Trader Full Name</h2></a>
