<h1>List of traders</h1>

<div class="container">
    {{#each trader}}
    <a href="/fund/{{this.hedgeFundId._id}}/traders/{{this._id}}"><h2>{{this.name}}</h2></a>
    {{/each}}
    
</div>

<a href="/fund/{{this._id}}/traders/new-trader">Add new Trader</a>