<h1>The Following traders are working at</h1>

{{#each trader}}
{{!-- <a href="route for one trader"> <h2>{{this.name}}</h2> </a> --}}
<h2>{{this.name}}</h2>
{{/each}}
<a href="/fund/traders/new-trader">Add new Trader</a>