<h2>Name: {{trader.name}}</h2>
<h1>Amount allocated: {{trader.allocated}}</h1>
<h1>Current worth: {{trader.currentWorth}}</h1>
<h1>Content of the trader's </h1>

<a href="/fund/{{hedgeFund._id}}">Go back</a>